.custom-sidebar {
    background-color: black;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    margin-left: 0;
    padding-left: 0;
}

.custom-sidebar .nav-link {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 12px;
    align-items: center;
    border-radius: 0;
    width: 80px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-sidebar .nav-link i {
    color: red;
    margin-bottom: 5px;
}

.custom-sidebar .nav-link:hover {
    background-color: white;
    color: red;
}

.custom-sidebar .nav-link.active {
    background-color: black;
    color: white;
}

.custom-sidebar .nav-link.active i {
    color: white;
}

.nav-item .fa-user-circle {
    color: white;
}

.nav-item .fas {
    color: red;
}


.custom-container {
    text-align: center;
    background-color: black;
    color: white;
    width: 80px;
    height: 100px;
    border: none;
    border-radius: 5px;
}

.main-content {
    margin-left: 85px;
    overflow-x: hidden;
}

.offcanvas {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    transition: left 0.3s;
    z-index: 1001;
}

.offcanvas a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.offcanvas a:hover {
    background-color: #555;
}